<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前端复习外部资源列表</title>
</head>
<body>
    <h1>前端基础</h1>
    <li><a target="_blank" href="https://developer.mozilla.org/zh-CN/docs/Learn/Getting_started_with_the_web/JavaScript_basics">javascript mdn doc</a></li>
    <li><a target="_blank" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/New_in_JavaScript/ECMAScript_6_support_in_Mozilla">es6 mdn doc</a></li>
    <h1>前端框架</h1>
    <li><a target="_blank" href="https://www.layui.com/doc/">layui doc</a></li>
    <li><a target="_blank" href="https://www.layui.com/admin/std/dist/views/">layui 后台 iframe 模板</a></li>
</body>
</html>